html {
    font-size: 10px;
}

body {
    font-family: "Rubik", sans-serif;
    padding-top: 80px;
    background-color: rgb(26, 21, 51);
}

.main_container {
    width: 70vw;

    margin: auto;
    
}

.analitics .title {
    font-size: 4rem;
    font-weight: 600;
    color: white;

    margin-bottom: 10px;
}

.analitics .des {
    font-size: 1.6rem;
    color: rgb(188, 188, 188);
}

.three_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 5rem;
}

.card {
    background-color: rgb(34, 34, 58);

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

    margin: 1rem;
    padding: 2rem;

    display: inline-block;

    border-radius: 1.5rem;

    display: flex;

    align-items: center;
}

.card img {
    width: 50px;
}

.card .des_and_price {
    display: flex;
    flex-direction: column;

    gap: 5px;

    margin-left: 1rem;
}

.card .des_and_price .des {
    font-size: 1.6rem;
    color: rgba(188, 188, 188, 0.73);
}

.card .des_and_price .price {
    font-size: 3rem;
    font-weight: 600;

    color: rgb(67, 128, 238);
}

.card .des_and_price .cata_title {
    font-size: 2.5rem;
    font-weight: 600;

    color: rgb(219, 147, 38);

}

.card .des_and_price .cata_price {
    font-size: 1.6rem;
    color: rgba(188, 188, 188, 0.73);
}

.card .des_and_price .rate {
    font-size: 3rem;
    font-weight: 600;

    color: rgb(34, 162, 131);
}

.graph_and_chart{
}
.graph_and_chart .card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.graph_and_chart .card .title{
    font-size: 2rem;
    font-weight: 600;
    color: white;

    margin-bottom: 10px;
}

.graph_and_chart .card .chart_cont{
    display: flex;

    width: 90%;
}

.graph_and_chart .card .graph_cont{
    align-self: center;

    width: 90%;
}

.graph_and_chart .card .chart_cont{
    align-self: center;
    
    width: 50%;
}
.graph_and_chart .card .chart_cont #pie_chart{
    align-self: center;

    margin-top: 3rem;
    
    width: 60%;
}
.glow-icon {
    width: 64px;
    height: 64px;
    
    background: linear-gradient(135deg, #4d9aff 0%, #7c5cf6 100%);
    
    border-radius: 18px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 0px 16px rgba(124, 92, 246, 0.25);
}

.glow-icon i {
    font-size: 32px;
    color: #ffffff;
    
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.7));
}

.box_g{
    width: 200px;
    height: 200px;
}

.box_r{
    width: 200px;
    height: 200px;
}